#vaultboy {
    width: 600px;
    height: auto;
    left: 50%;
    right: 50%;
    position: absolute;
    align-self: center;
    justify-self: center;

    @media (max-width: 1190px) {
        width: 95%;
        height: 100%;
        z-index: 999;
    }
}