// header

.header-container {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 35px;
    left: 0;
    right: 0;
    width: 100%;
    #heading {
        font-size: 2rem;
        color: #fff;
    }
}

